---
import avatarImage from "~/assets/Images/avatar.webp";
import "./styles.css";
import {Config} from "~/config"

const yearsOfExperienceString = `${Config.me.yearsOfExperience || 'less than 1'} ${+Config.me.yearsOfExperience > 1 ? 'years' : 'year'}`;
---

<article>
  <div class="block items-center md:hidden my-4 ml-1">
    <img
      height="96px"
      width="96px"
      class="object-contain bg-orange-100 rounded-full"
      src={avatarImage.src}
      alt="Avatar image"
      loading="eager"
      decoding="async"
    />
  </div>
  <div class="flex flex-col md:flex-row md:items-center justify-between gap-6 lg:gap-8">
    <div class="basis-2/3">
      <h1 class="text-secondary md:mb-5 mb-4 s8:mb-2 mt-2 s8:mt-1 md:mt-0 md:text-3xl text-2xl s8:text-[22px]">
        <em class="font-inter opacity-90 not-italic p-0 m-0 font-normal ">
          Hi <span class="wave opacity-90">👋</span>, I'm
        </em>
        <em class="font-inter font-bold not-italic text-primary opacity-100">Sanjib Roy!</em>
      </h1>
      <div>
        <ul class="!mb-0 text-primary-light font-thin list-disc pl-4 space-y-1 md:space-y-[6px]">
          {+Config.me.yearsOfExperience > 0 && (
            <li class="text-primary-light text-sm md:text-base" class="text-sm md:text-base">
              <em class="not-italic">
                Software engineer, with {yearsOfExperienceString} of industry experience.
              </em>
            </li>
          )}
          <li class="text-primary-light text-sm md:text-base">
            <em class="not-italic">
              Skilled in JavaScript, Next.js, React.js, Node.js, MongoDB, Ruby, Ruby on Rails, and <a
                  class="border-b text-primary border-gray-300 hover:text-accent"
                  href="/#skills"
                  rel="noopener noreferrer nofollow"
                >
                  more.
                </a> 
            </em>
          </li>
          <li class="text-primary-light text-sm md:text-base">
            <em class="not-italic">
              Experienced in both product and service based companies.
            </em>
          </li>
          <li class="text-primary-light text-sm md:text-base">
            <em class="not-italic">
              Proficient in asynchronous communication for seamless collaboration in remote teams.
            </em>
          </li>
          <li class="text-primary-light text-sm md:text-base">
            <em class="not-italic">
                Open to new opportunities, previously at{" "}
                <a
                  class="border-b text-primary border-gray-300 hover:text-accent"
                  href="https://www.saeloun.com/"
                  rel="noopener noreferrer nofollow"
                  target="_blank"
                >
                  Saeloun
                </a>, 
                <a
                  class="border-b text-primary border-gray-300 hover:text-accent"
                  href="https://www.linkedin.com/company/juvoxa/"
                  rel="noopener noreferrer nofollow"
                  target="_blank"
                >
                  Juvoxa
                </a>, and
                <a
                  class="border-b text-primary border-gray-300 hover:text-accent"
                  href="https://bigbinary.com"
                  rel="noopener noreferrer nofollow"
                  target="_blank"
                >
                  BigBinary
                </a>
            </em>
          </li>

          <li class="text-primary-light text-sm md:text-base">
            <em class="not-italic">Kinda active on Twitter{" "}
              <a
                class="border-b text-primary border-gray-300 hover:text-accent"
                href="https://twitter.com/sanjibroy360"
                rel="noopener noreferrer nofollow"
                target="_blank"
              >
                @sanjibroy360
              </a> 
            </em>
          </li>
        </ul>
        <div class="md:mt-4 mt-6 flex justify-center md:justify-start items-center gap-x-2 md:hidden">
          <a
            href={Config.me.resumeLink}
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="md:hidden inline-block md:basis-1/3 basis-1/2 p-2 !font-inter font-bold text-sm bg-blue-btn opacity-90 border-2 border-blue-btn hover:opacity-100 text-white capitalize rounded-full md:rounded-lg text-center"
          >
            <button>Download Resume</button>
          </a>
          <a
            href='/profile'
            rel="noopener noreferrer nofollow"
            class="md:hidden inline-block basis-1/2 p-2 !font-inter font-bold text-sm bg-app text-blue-btn border-2 border-blue-btn capitalize rounded-full text-center"
          >
            <button>View Profile</button>
          </a>
        </div>
      </div>
    </div>

    <div class="md:block hidden">
      <img
        height="192px"
        width="192px"
        class="h-48 w-48 object-cover bg-orange-100 rounded-full"
        src={avatarImage.src}
        alt="Avatar image"
        loading="eager"
        decoding="async"
      />
    </div>
  </div>
</article>