---
import Layout from "../../layouts/Layout.astro";
import PostBox from "../../components/PostBox.astro";
import { getCollection } from "astro:content";
import {Config} from '~/config';
const posts = (await getCollection("posts")).sort(
  (a, b) =>
    new Date(b.data.publishedOn).getTime() -
    new Date(a.data.publishedOn).getTime()
);
---

<Layout title=`Blog | ${Config.me.name}` og_type="website" >
  <main class="lg:mt-32 mt-10 mb-12">
    <h1 class="font-medium text-3xl mb-8 md:mb-14 mt-4">Blog</h1>
    {
      posts.map((post) => (
        <PostBox
          title={post.data.title}
          publishedOn={post.data.publishedOn}
          summary={post.data.summary}
          tags = {post.data.tags}
          href={post.slug}
        />
      ))
    }
  </main>
</Layout>
